a {
	padding:0 10px;
	margin:0 5px;
}
p {
	padding:10px;
	margin:5px;
}
body>p:last-child {
	display: inline-block;
	margin:0 5px;
}
a[href="https://www.google.com"] {
	color:green;
}
a[target="_blank"] {
	color:#ff0000;
}
#first-div>p::after {
	       
	 content:"-NEW";
	 color:yellow;
}
	
#second-div p:nth-child(2n) {
	color:#ff0000;
}
#second-div p:nth-child(2n+1) {
	color:#0000ff;
}
body>p:last-child:hover {
	font-style:italic;
	cursor: pointer;
}
